:root {
    --color-primary: black;
    --color-secondary: white;
    --color-accent: #726aff;
    --color-accent-secondary: #c9c4ff;
    --ff: "Times New Roman";
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --links: 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadow: #000000030 0px 0px 10px 0px;
    --shadow-dark: #00000030 0px 5px 10px 5px;
}

h1 {
    font: var(--h1);
    margin-top: 8px;
}

h2 {
    font: var(--h2);
    margin-top: 8px;
}

h3 {
    font: var(--h3);
    margin-top: 8px;
}

p {
    font: var(--p);
    margin-top: 8px;
}

.links {
    font: var(--links);
    margin-top: 0px;
}

.subtext {
    font: var(--subtext);
    margin-top: -8px;
}